services:
  inference:
    image: ghcr.io/urban-air-lab/inference-server:latest
    container_name: inference-server
    restart: always
    environment:
      - INFLUX_TOKEN=${DOCKER_INFLUXDB_INIT_ADMIN_TOKEN}
      - INFLUX_ORG=${INFLUX_ORG}
      - INFLUX_URL=${INFLUX_URL}
      - MQTT_USERNAME=${MQTT_USERNAME}
      - MQTT_PASSWORD=${MQTT_PASSWORD}
      - MQTT_SERVER=${MQTT_SERVER}
      - MQTT_PORT=${MQTT_PORT}
      - MLFLOW_URL=${MLFLOW_URL}
      - MLFLOW_FLASK_SERVER_SECRET_KEY=${MLFLOW_FLASK_SERVER_SECRET_KEY}
      - MLFLOW_USERNAME=${MLFLOW_USERNAME}
      - MLFLOW_PASSWORD=${MLFLOW_PASSWORD}
    networks:
      - iot

networks:
  iot: