services:
  inference:
    image: ghcr.io/urban-air-lab/inference-server:latest
    container_name: inference-server
    restart: always
    environment:
      - INFLUX_TOKEN=${DOCKER_INFLUXDB_INIT_ADMIN_TOKEN}
      - INFLUX_ORG=urban-air-lab
      - INFLUX_URL=https://influx.urbanairlab.hn
      - MQTT_USERNAME=${MQTT_USERNAME}
      - MQTT_PASSWORD=${MQTT_PASSWORD}
      - MQTT_SERVER=${MQTT_SERVER}
      - MQTT_PORT=${MQTT_PORT}
      - MLFLOW_URL=${MLFLOW_URL}
      - MLFLOW_FLASK_SERVER_SECRET_KEY=${MLFLOW_FLASK_SERVER_SECRET_KEY}
      - MLFLOW_USERNAME=${MLFLOW_USERNAME}
      - MLFLOW_PASSWORD=${MLFLOW_PASSWORD}
    networks:
      - frontend
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=ual_infrastructure_deployments_frontend"

networks:
  frontend: