name: "CI/CD Pipeline"

on:
  push:
    branches: [ "feature/ci-cd" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

      - name: test
        run: |
          echo "Hello World"
          pwd
          ls -la
          cd ..
          ls -la
          cd ..
          ls -la
          cd _temp
          ls -la
          cat 98d8642b-c6b0-4ed0-b81a-45af5b10c5de.sh
          
          
