name: "CI/CD Pipeline"

on:
  push:
    branches: [ "feature/ci-cd" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Trust remote host key
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H urbanairlab.hn >> ~/.ssh/known_hosts

      - name: Docker via SSH
        env:
          DOCKER_HOST: ssh://root@urbanairlab.hn
        run: |
          docker version
          docker ps
          
