name: "CI/CD Pipeline"

on:
  push:
    branches: [ "feature/ci-cd" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Trust remote host key
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H docker.example.com >> ~/.ssh/known_hosts

      - name: Docker via SSH
        env:
          DOCKER_HOST: ssh://root@docker.example.com
        run: |
          docker version
          docker ps
          
