name: "CI/CD Pipeline"

on:
  push:
    branches: [ "feature/ci-cd" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

      - name: test
        run: |
          echo "Hello World"
          pwd
          ls -la
          cd ..
          ls -la
          cd ..
          ls -la
          cd _PipelineMapping
          ls -la
          cd urban-air-lab
          ls -la
          cd infrastructure_deployments
          ls -la
          cat PipelineFolder.json
          
          
