name: "CI/CD Pipeline"

on:
  push:
    branches: [ "feature/ci-cd" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Trust remote host key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KNOWN_HOSTS }}" >> ~/.ssh/known_hosts
          echo "${{ secrets.SSH_PRIVATE_KEY }}" >> ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          
          ls -la
          cat ~/.ssh/known_hosts
          
          
